body {
  margin: 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  opacity: .5;
}

.filterDiv {
  margin-top: 45px;
  height: 5px;
  border: 0;
  width: 100%;
  padding: 7%;
  text-align: center;
  font-size: 2.0vh;
  box-sizing: border-box;
  outline: none;
  border:2px solid black;
}
.map {
  height: 100vh;
  width: 100%;
  text-align: center;
}
.header {
  height: 35px;
  line-height: 35px;
  padding-left: 20px;
  text-align: center;
}

.foursquare-info {
  position: absolute;
  color: white;
  top: 5px;
  right: 20px;
  font-size: 18px;
  text-align: center;
  width: 120px;
  z-index: 1;
  background-color: #607d8b;
  border-radius: 20px;
  font-family: 'Roboto Mono', monospace;
}

.container {
  display: flex;

}


.locations {
  margin: 0;
  padding: 0;
  
}

.location-item {
  cursor: pointer;
  color: white;
  background-color:dodgerblue;
  border:2px solid Tomato;
  list-style-type: none;
  font-size: 2.0vh;
  
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  margin-top: 10px;
}

.info-window > h4 {
  margin: 0;
  display: block;
  background-color: #a3ccff;
  font-family: 'Roboto Mono', monospace;
}

.filterMenu {
  display: block;
  position: fixed;
  margin: 0;
  box-sizing: border-box;
  width: 200px;
  background-color: #eee;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  top: 0;
  left: -200px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.filterMenuList {
  display: none;
}

.btn-menu {
  display: flex;
  line-height: 25px;
  color: #fff;
  background-color: dodgerblue;
  padding: 5px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  z-index: 3;
  width: 200px;
  border-radius: 5px;
}

.menu-text {
  width: 100%;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.filterIcon {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  transition: left .23s;
  width: 30px;
}

.filterIcon span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .03s;
  position: relative;
}

.filterIcon span.first {
  margin-top: 0;
}

.filterMenuList:checked ~ .btn-menu {
  border-radius: 50%;
  width: 25px;
}

.filterMenuList:checked ~ .btn-menu > .menu-text {
  display: none;
}

.filterMenuList:checked ~ .filterMenu {
  left: 0;
}

.filterMenuList:checked ~ .btn-menu > .filterIcon .first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}

.filterMenuList:checked ~ .btn-menu > .filterIcon .second {
  opacity: 0;
}

.filterMenuList:checked ~ .btn-menu > .filterIcon .third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}

.filterMenuList:checked > .container {
  display: flex;
}

.gm-style-mtc {
  display: none;
}

